* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    /* display: grid; */
    /* display: flex; */
    /* margin: 10px; */
    place-items: center;
    /* background-color: #222831; */
    background-color: rgba(24,24,27,255);
    overflow: hidden;
    color: rgba(187,247,208,255);
  }

  /* lottie-player {
    position: absolute;
    bottom: 46%;
    left: 12px;
  } */
  
  #wheelOfFortune {
    display: inline-block;
    position: relative;
    left: 10.5%;
    overflow: hidden;
    /* margin: 0 auto; */
    
  }
  
  #wheel {
    display: block;
    position: relative;
    top: 17%;
  }
  
  #spin {
    font: 1.5em/0 sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 382px;
    left: 61%;
    width: 10%;
    height: 50px;
    margin: -15%;
    background: rgb(139, 52, 52);
    color: rgb(139, 52, 52);
    box-shadow: 0 0 0 50px currentColor, 0 0px 15px 5px rgb(139, 52, 52);
    /* box-shadow: 0 0 0 8px currentColor, 0 0px 105px 5px rgb(255, 255, 255); */
    border-radius: 50%;
    transition: 0.8s;
  }
  
  #spin::after {
    content: '';
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
  }
  
  /* #video {
    width: 100%;
    margin-left: 200px;
  } */

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
  }

  #main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

  #list-container {
    /* background-color: aqua; */
    width: 500px;
    position: relative;
    top: 30px;
    right: 30px;
  }

  #list {
    background-color: #22283118;
    /* color: #DDDDDD; */
    font-size: 20px;
    margin-right: 70px;
    margin-left: 30px;
    height: 80vh;
    width: 500px;
    padding: 0px 70px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  li {
    /* background-color: aqua; */
    height: 20px;
    margin: 15px;
    margin-right: 60px;
    /* padding: 20px; */
    
  }

  .player {
    /* margin-left: 185px; */
    /* margin-right: 40px; */
    max-width: 655px;
    position: absolute;
    left: 8%;
    top: 20%;
  }

  .nav-container {
    background-color: rgba(24,24,27,255);
    max-width: 100%;
    display: flex;
    position: sticky;
    color: rgba(134,239,172,255);
  }